footer {
    background: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
    padding: 1% 0;
}

.imagens {
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 3rem;
    color: white;
    margin: 0 1rem;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

i:hover {
    color: #74219b;
}